.delete-btn {
    display: block;
    width: calc(100% - 40px); /* Full width minus padding */
    margin: 0 20px 20px 20px;
    padding: 12px;
    background-color: #ff4b4b;
    color: var(--white);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #c93535;
}

.rental-dates {
    font-size: 15px;
    font-weight: 500;
    color: #555;
    padding-left: 10px;
    margin: 0 0 10px 10px;
    /*.rental-dates {*/
    /*    margin: 4px 0 12px 0;   !* Same left margin as h3 *!*/
    /*    padding: 0;             !* Remove padding so it aligns exactly *!*/
    /*    color: #555;*/
    /*    font-size: 14px;*/
    /*    font-weight: 500;*/
    /*}*/
}
